<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eSDK_TP_Demo_BS</display-name>
  <welcome-file-list>
    <welcome-file>pages/index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>serviceFactory</servlet-name>
    <servlet-class>com.huawei.esdk.tp.demo.factory.ServiceFactory</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceFactory</servlet-name>
    <url-pattern>/serviceFactory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scheduleConfServlet</servlet-name>
    <servlet-class>com.huawei.esdk.tp.demo.servlet.ScheduleConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scheduleConfServlet</servlet-name>
    <url-pattern>/scheduleConfServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>querySitesByConditionServlet</servlet-name>
    <servlet-class>com.huawei.esdk.tp.demo.servlet.QuerySitesByConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>querySitesByConditionServlet</servlet-name>
    <url-pattern>/querySitesByConditionServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>checkDateServlet</servlet-name>
    <servlet-class>com.huawei.esdk.tp.demo.servlet.CheckDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkDateServlet</servlet-name>
    <url-pattern>/checkDateServlet</url-pattern>
  </servlet-mapping>
  
</web-app>